@font-face {
  font-family: "Coda Caption", sans-serif;
  src: url("../fonts/CodaCaption-ExtraBold.ttf");
}

.main-heading {
  color: white;
  font-weight: 900;
  font-size: 101px;
  font-family: "Coda Caption", sans-serif;
  src: url("../fonts/CodaCaption-ExtraBold.ttf");
}
.main-sub-heading {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: "Coda Caption", sans-serif;
  src: url("../fonts/CodaCaption-ExtraBold.ttf");
}
.hero-img {
  display: block;
  float: right;
  width: 80%;
  height: auto;
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/* .earth {
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  margin-top: -100px;
  background: url("../images/earth-image.png") 0 / auto 100%;
} */

/* BG Video */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  overflow-x: hidden;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  /* height: 100vh; */
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
