@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/* Fade in Text */
.fade-in-text {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scroll */
.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mouse {
  width: 35px;
  height: 70px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
.arrow {
  width: 0;
  height: 40px;
  border: 1px solid #333;
  position: relative;
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}
.arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px;
  border-top: 10px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
@keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 70px;
  }
  60% {
    height: 40px;
  }
}
@-webkit-keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 70px;
  }
  60% {
    height: 40px;
  }
}

/* Media Queries */
@media (min-width: 360px), (max-width: 480px) {
  .main-heading {
    color: white;
    font-weight: 800;
    font-size: 30px;
    font-family: "Coda Caption", sans-serif;
  }
  .main-sub-heading {
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: "Coda Caption", sans-serif;
  }
  .img-wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50%;
    /* position: absolute; */
    margin: auto;
    right: 0;
    top: 0;
    width: 230px;
    height: 230px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
  }
  .img-wrapper-2 {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    width: 130px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 130px;
  }
  .img-wrapper-3 {
    background: linear-gradient(-180deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 50%;
    width: 70px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 70px;
  }
}

@media (min-width: 500px) {
  .main-heading {
    color: white;
    font-weight: 700;
    font-size: 40px;
    font-family: "Coda Caption", sans-serif;
  }
  .main-sub-heading {
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Coda Caption", sans-serif;
  }
  .img-wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50%;
    /* position: absolute; */
    margin: auto;
    right: 0;
    top: 0;
    width: 230px;
    height: 230px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
  }
  .img-wrapper-2 {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    width: 130px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 130px;
  }
  .img-wrapper-3 {
    background: linear-gradient(-180deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 50%;
    width: 70px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 70px;
  }
}

@media (min-width: 768px) {
  .main-heading {
    color: white;
    font-weight: 700;
    font-size: 65px;
    font-family: "Coda Caption", sans-serif;
  }
  .main-sub-heading {
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Coda Caption", sans-serif;
  }
  .img-wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50%;
    /* position: absolute; */
    margin: auto;
    right: 0;
    top: 0;
    width: 300px;
    height: 300px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
  }
  .img-wrapper-2 {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    width: 200px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 200px;
  }
  .img-wrapper-3 {
    background: linear-gradient(-180deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 50%;
    width: 100px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 100px;
  }
}
@media (min-width: 991px) {
  .main-heading {
    color: white;
    font-weight: 900;
    font-size: 70px;
    font-family: "Coda Caption", sans-serif;
  }
  .main-sub-heading {
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: "Coda Caption", sans-serif;
  }
  .img-wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50%;
    /* position: absolute; */
    margin: auto;
    right: 0;
    top: 0;
    width: 450px;
    height: 450px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
  }
  .img-wrapper-2 {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    width: 350px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 350px;
  }
  .img-wrapper-3 {
    background: linear-gradient(-180deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 50%;
    width: 250px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .main-heading {
    color: white;
    font-weight: 900;
    font-size: 90px;
    font-family: "Coda Caption", sans-serif;
  }
  .main-sub-heading {
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: "Coda Caption", sans-serif;
  }
  .img-wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50%;
    /* position: absolute; */
    margin: auto;
    right: 0;
    top: 0;
    width: 450px;
    height: 450px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
  }
  .img-wrapper-2 {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    width: 350px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 350px;
  }
  .img-wrapper-3 {
    background: linear-gradient(-180deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 50%;
    width: 250px;
    box-shadow: 5px 10px 18px 10px rgb(0 0 0 / 20%);
    height: 250px;
  }
}
